---
layout: default
title:  "İsmail Öcal" 
description: "İsmail Öcal, Front-end, Back-end Developer"
keywords: "İsmail Öcal, ismailocal, Front-end, Back-end, Developer, Css, Jquery, Php"
---

<div class="home" id="home">
  <h3 class="pageTitle">Son Yazılar</h3>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Yeni Yazılar</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Eski Yazılar</a>
    {% endif %}
  </div>
</div>
