 <div class="header">
     <div class="container">
        <div class="left">
        <a href="{{ site.baseurl }}/"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/399608_10151582488574419_808552226_n.jpg?oh=a0e8307d7276199cc150ea8218ad4ed7&oe=55CAFDF5&__gda__=1443471554_fba123ac7bd6c1ca6f763dc531a5a3fe"/></a>
        </div>
        <div class="right">
            <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <div class="motto">Back-end, Front-end Developer</div>
         </div>
     </div>
 </div><!-- end .header -->

 <nav class="nav-collapse">
     <ul class="noList">
         {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
         <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
             <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
         </li> 
         {% endfor %}
     </ul>
 </nav>